<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072941703540-gqo8oviu6ndaml8tno25cvqm5qmte2ri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072941703540-gqo8oviu6ndaml8tno25cvqm5qmte2ri</string>
	<key>API_KEY</key>
	<string>AIzaSyDVYNO2as38TBKwCuq1B_vWzM6bOa7jIrg</string>
	<key>GCM_SENDER_ID</key>
	<string>1072941703540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caloriescounterproject.caloriesCounterProject</string>
	<key>PROJECT_ID</key>
	<string>calorie-per-day-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>calorie-per-day-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072941703540:ios:54bcc4e1371c7c777e8c21</string>
</dict>
</plist>